<section>
  <form name="createGalleryForm"
    ng-submit="createGalleryCtrl.createGallery()">
    <fieldset>
      <label for="name">name</label>
      <input type="text"
      name="name"
      placeholder="name"
      ng-model="createGalleryCtrl.gallery.name"
      require>
    </fieldset>
    <fieldset>
      <label for="description">desc</label>
      <input type="text"
      name="description"
      placeholder="description"
      ng-model="createGalleryCtrl.gallery.desc"
      require>
    </fieldset>
    <button type="submit">Create Gallery</button>
  </form>
</section>
